*{
    box-sizing: border-box;
  }


body{
    font-family: 'inter', sans-serif;
    margin: 0;
    background-color: #F5F7FB;
    background-image: url('./images/background.png');
    background-size: cover;
    text-align: center;
  }


  .container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.start-btn
 {
     border: none;
    background: #4D5B9E;
    border-radius: 15px;
    color: #F5F7FB;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    padding: 16px 80px;
    cursor: pointer;



 }

 .questions{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  padding: 3rem;
}

.question-container{
  border-bottom: 0.8px solid #DBDEF0;
  padding-bottom: 1rem;
}

.question{
  font-size: 1rem;
  color: #293264;
  margin-top: 2rem;
}


.submit-btn{
  align-self: center;
  font-family: 'inter', sans-serif;
  background: #4D5B9E;
  color: #F5F7FB;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  padding: 1em 2em;
  cursor: pointer;
}